.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    height: 350px; /* Altura fija para las tarjetas */
    padding-top: 20px;
    &:hover {
      transform: translateY(-5px);
    }
  
    /* Contenedor de la imagen */
    &__image-wrapper {
      width: 100%;
      height: 200px; /* Altura fija para la imagen */
      overflow: hidden; /* Asegura que la imagen no se desborde */
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente */
    }
  
    /* Contenedor del contenido (nombre, ocupación, estado) */
    &__info {
      padding: 16px;
      font-size: 13px;
      text-align: center;
      flex-grow: 1; /* Esto asegura que el contenido se ajuste dentro de la tarjeta */
    }
  
    &__name {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0 0 8px;
    }
  
    &__button {
      padding: 8px 16px;
      font-size: 0.9rem;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .status-alive {
      color: green;
    }
  
    .status-dead {
      color: red;
    }
  
    .status-other {
      color: gray;
    }
  }
  
  a {
    text-decoration: none;
    display: block; /* Asegura que el enlace cubra toda la tarjeta */
  }
  .card__info {
  padding: 16px;
  text-align: center;
  flex-grow: 1; /* Esto asegura que el contenido se ajuste dentro de la tarjeta */
}

.card__info-gender {
  display: flex;  /* Alinea el contenido horizontalmente */
  justify-content: space-around;  /* alredor el contenido horizontalmente */
  align-items: center;  /* Alinea verticalmente el icono y el texto */
  gap: 8px;  /* Espacio entre el texto y el icono */
}

.card__info-gender p {
  margin: 0;  /* Elimina márgenes para que el texto y el icono estén más cerca */
}

.card__info-gender i {
  font-size: 1.2rem;  /* Tamaño del icono */
}